@(logEntries: List[model.LogEntry])

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/apache-logs-viewer/assets/stylesheets/jquery.dataTables.css"/>
	</head>
	<body>
		<table id="data">
			<thead>
				<tr>
					<th>Entry</th>
					<th>Status</th>
					<th>Date/Time</th>
					<th>Node</th>
					<th>Url</th>
				</tr>
			</thead>
			<tbody>
@for(i <- 0 to logEntries.size() - 1) {<tr><td>@i</td><td>@logEntries.get(i).getStatus()</td><td>@logEntries.get(i).getDateTime()</td><td>@logEntries.get(i).getNode()</td><td>@getUrlToDisplay(logEntries.get(i).getUrl())</td></tr>}
@getUrlToDisplay(url: String) = @{
	val urlToDisplay = if(url.length() > 150) url.take(150) + "..." else url
	if (urlToDisplay.startsWith("http://www.nature.com")) "*" + urlToDisplay.substring(21) else urlToDisplay
}
			</tbody>
		</table>
		<script type="text/javascript" src="/apache-logs-viewer/assets/javascripts/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/apache-logs-viewer/assets/javascripts/jquery.dataTables.min.js"></script>
		<script>
			$(document).ready(function() {
					$('#data').dataTable({
						"bPaginate": false
					});
			});
		</script>
	</body>
</html>